[submodule "CodeMirror/vendor/CodeMirror"]
	path = CodeMirror/vendor/CodeMirror
	url = https://github.com/marijnh/CodeMirror.git
[submodule "Chat/vendor/punjab"]
	path = Chat/vendor/punjab
	url = https://github.com/twonds/punjab.git
[submodule "Chat/vendor/strophejs"]
	path = Chat/vendor/strophejs
	url = https://github.com/strophe/strophejs.git
[submodule "Archiver/vendor/zip.js"]
	path = Archiver/vendor/zip.js
	url = https://github.com/gildas-lormeau/zip.js.git
[submodule "PDFjs/vendor/pdf.js"]
	path = PDFjs/vendor/pdf.js
	url = https://github.com/mozilla/pdf.js.git
